.hero-section-main {
  display: flex;
  padding-top: 0.5rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 4rem;
  justify-content: center;
  align-items: center;
}

.title-chef-container {
  height: 25rem;
}

.title-chef {
  height: 100%;
  width: 21rem;
}

.hero-section-intro-division {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.hero-section-title {
  display: flex;
  align-items: center;
}

.logo {
  height: 100%;
}

.title-text-enlarge {
  font-weight: 500;
  font-size: 10rem;
  line-height: 2rem;
  cursor: default;
}

.title-text-description {
  display: block;
  font-family: "Katibeh", serif;
  font-weight: 100;
  font-size: 2rem;
  line-height: 1.8rem;
  color: #732c00;
  text-align: right;
  letter-spacing: 0.1rem;
}

.title-text-description-enlarge {
  font-size: 3rem;
  line-height: 3rem;
}

.slider {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  align-items: center;
  background-color: #592200;
  padding-right: 1rem;
  gap: 1rem;
  position: relative;
  margin: auto;

  box-shadow: 0px 10px 30px rgb(165, 165, 165);
}

.slider-wrapper {
  overflow: hidden;
}

.slider-content-container {
  display: flex;
  /* grid-auto-flow: column;  */
  gap: 0.5rem;
  margin: 0.5rem;
  transition: transform 0.5s ease;
}

.slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #ffe7d9;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  border-radius: 1rem;
}

.slider-icon {
  width: 6.4rem;
  height: 5.2rem;
  object-fit: cover;
}

.slider-content-text {
  color: #592200;
  font-size: 1rem;
  font-weight: 700;
}

.arrow-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  z-index: 10;
}

.arrow::after {
  display: inline-block;
  width: 1.5rem;
  height: 3rem;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 24'%3E%3Cpath fill='white' fill-rule='evenodd' d='M10.157 12.711L4.5 18.368l-1.414-1.414l4.95-4.95l-4.95-4.95L4.5 5.64l5.657 5.657a1 1 0 0 1 0 1.414'/%3E%3C/svg%3E");
  /* position: absolute; */
}

.left-arrow::after {
  rotate: 180deg;
  /* top: 2.6rem;   
  left: 0.5rem;   */
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.right-arrow::after {
  /* top: 2.6rem;   
  right: 0.5rem;   */
  cursor: pointer;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.recipe {
  background-color: #ffefe6b3;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
}

.recipe-title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #592200;
}

.recipe-container-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.recipe-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-slot {
  position: relative;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #ffe7d9;
  cursor: pointer;
  margin-top: 1rem;

  box-shadow: 0px 5px 10px rgb(165, 165, 165), inset 0 0 0 1px #592200;
}

.favorites-absolute {
  position: absolute;
  top: 1rem;
  right: 1rem;

  background-color: #ff5e0050;
  padding: 0.8rem;
  border-radius: 10rem;
}

.recipe-image {
  height: 25rem;
  width: 18rem;
  border-radius: 1rem;
  object-fit: cover;

  background-color: #ecc6ae;
  box-shadow: 0px 5px 10px rgb(165, 165, 165);
}

.recipe-info {
  margin-top: -0.3rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* border: 1px solid #592200; */
  padding: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.recipeNameText {
  color: #592200;
  font-size: 1.6rem;
  font-weight: 700;
}

.chefNameText {
  color: #cc4e00;
  font-size: 1rem;
  text-decoration: underline;
}

.recipe-info-title {
  color: #592200;
  font-size: 1rem;
  font-weight: 500;
}

.recipe-info-description {
  color: #cc4e00;
  font-size: 1rem;
  font-weight: 500;
}

.viewsText {
  color: #592200;
  font-size: 0.8rem;
  font-weight: 500;
}

.view-more-button {
  display: inline;
  background-color: #0f4fa8;
  padding: 0.8rem;
  border: 1px solid #051c3b;
  border-radius: 0.5rem;
  cursor: pointer;
}

.view-more-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: #e7edf6;
}
