.recipeForm {
  background-color: #ffefe653;
  padding: 6rem 0 6rem 0;
}

.center-align {
  display: flex;
  justify-content: center;
}

#myForm {
  padding: 3rem 3rem 1rem 8rem;
}

#myForm p{
  font-size: 1.2rem;
  font-weight: 700;
  color: #592200;
}

#myForm table{
  border-spacing: 1rem;
}

#myForm th,
#myForm td{
  vertical-align: top;
  padding: 0.5rem 0 0.5rem 0;
}

#myForm th{
  text-align: left;
  vertical-align: middle;
}

#myForm input[type="text"],
#myForm input[type="number"],
#myForm select,
#myForm option,
#myForm textarea {
  height: 2rem;
  border: 1px solid #592200;
  border-radius: 0.3rem;

  color:#592200;
  font-weight: 500;
  font-size: 1rem;
  padding-left: 0.5rem;
}

#myForm input[type="text"]:focus,
#myForm input[type="number"]:focus,
#myForm select:focus,
#myForm option:focus,
#myForm textarea:focus {
  border: 2px solid #592200;
  outline: none;
}

#myForm input[type="text"]{
  width: 16rem;
}

#myForm input[type="number"]{
  width: 3rem;
}

#myForm input[type="file"] {
  color: #592200;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

#myForm input[type="file"]::-webkit-file-upload-button {
  background-color: #86441b;
  color: #fff;
  border: 1px solid #592200;
  padding: 8px 12px;
  margin-right: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

#myForm input[type="file"]::-webkit-file-upload-button:hover{
  background-color: #ecc6ae;
  color: #592200;
}


.submitButton{
  display: inline;
  background-color: #8a3500;
  padding: 0.6rem;
  border: 1px solid #592200;
  border-radius: 0.5rem;
  cursor: pointer;

  font-size: 1rem;
  font-weight: 500;
  color: #e7edf6;
  transition: 0.2s;

  box-shadow: 0px 1px 5px rgb(126, 126, 126);
}

.submitButton:hover{
  background-color: #ecc6ae;
  color: #592200;
}

.submitButton:active{
  background-color: #592200;
  color: #e7edf6;
}
