.recipe-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: #fff1d9;
  border: 1px solid #592200;
  border-radius: 1rem;
  box-shadow: 0px 5px 30px rgb(160, 160, 160);
  padding: 1.5rem;

  position: fixed;
  right: 1rem;
  left: 70rem;
  top: 7rem;
  bottom: 7rem;
  z-index: 10;
}

.recipe-nav p {
  display: block;
}

.recipe-nav-title {
  color: #592200;
  font-size: 1.6rem;
  font-weight: 700;
}

.recipe-nav-contents p {
  color: #732c00;
  font-size: 1.2rem;
  text-decoration: underline;
  padding-top: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.recipe-nav-contents a:hover {
  color: #c26d38;
}

.recipe-nav-contents a,
.recipe-nav-contents a:active {
  color: #732c00;
}

/* ----Main---- */

.recipe-title-info {
  background-color: #ffefe6b3;
  display: flex;
  padding-top: 6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #592200;
  gap: 2rem;
  align-items: center;
}

.recipe-title-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipe-title-main {
  background-color: #ffceb0;
  border: 1px solid #592200;
  border-radius: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipe-title-main-division1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipe-name-div {
  padding-right: 2rem;
}

.recipe-name {
  color: #592200;
  font-size: 2.2rem;
  font-weight: 700;
}

.recipe-title-main-division2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chef-name {
  color: #913700;
  font-size: 1.2rem;
  font-weight: 500;
}

.recipe-title-description {
  background-color: #fff1d9;
  border: 1px solid #592200;
  border-radius: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.recipe-title-description p {
  padding-bottom: 0.25rem;
}

.recipe-title-description-title {
  color: #592200;
  font-size: 1.1rem;
  font-weight: 500;
}

.recipe-title-description-info {
  color: #913700;
  font-size: 1.1rem;
  font-weight: 500;
}

.recipe-title-image {
  height: 18rem;
  /* width: 40rem; */
  border: 1px solid #592200;
  border-radius: 1rem;
  background-color: #ecc6ae;
}

#ingredients-required-section {
  background-color: #fffcfab3;
  padding: 4rem 18rem 4rem 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  border-bottom: 1px solid #592200;
}

.ingredients-content-container,
.procedure-content-container,
.additional-information-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #ffefe6;
  border: 1px solid #592200;
  border-radius: 1rem;
}

.ingredients-content-container p,
.procedure-content-container p {
  color: #592200;
  font-size: 1.2rem;
  font-weight: 500;
}

#procedure-section {
  background-color: #ffefe6b3;
  padding: 4rem 18rem 4rem 3rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  border-bottom: 1px solid #592200;
}

/* #procedure-section ol li{
  margin-top: 1rem;
} */

/* #procedure-section ol p{
  display: block;
  text-align: justify;
  margin: 0.5rem;
} */

#additional-information-section {
  background-color: #fffcfab3;
  padding: 4rem 18rem 4rem 3rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  border-bottom: 1px solid #592200;
}

.additional-information-content-container {
  display: flex;
  gap: 2rem;
}

.additional-information-content-container-title,
.additional-information-content-container-info {
  color: #592200;
  font-size: 1.2rem;
  font-weight: 500;
}

.additional-information-content-container-title {
  font-size: 2rem;
  font-weight: 600;
}
